@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* base styles */
body {
	font-family: 'Bebas Neue', cursive;
	margin: 0 1rem;
	font-size: 1.7em;
	letter-spacing: 2px;
	text-align: center;
	height: 100vh;
	background: linear-gradient(
			0deg,
			rgba(7, 7, 7, 1) 0%,
			rgba(7, 7, 7, 0.5) 50%,
			rgba(7, 7, 7, 1) 100%
		),
		url('src_img/background_valo.png');
	background-size: cover;
	color: #fff;
}

h1 {
	margin: 1rem;
}
